<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resume - Stepan Potiienko</title>
  </head>
  <body>
    <h1>Stepan Potiienko - Resume</h1>
    <h2>Skills</h2>
    <ul>
      <li>Python, Django</li>
      <li>Git and GitHub workflows</li>
      <li>HTML, CSS</li>
    </ul>

    <h2>Contacts</h2>
    <p>Email: spotiienko@icloud.com</p>
    <p>
      GitHub:
      <a href="https://github.com/StepanPotiienko/"> My GitHub Profile </a>
    </p>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: Consolas, monospace;
      }

      body {
        padding: 20px;
        background-color: #f0f0f0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }
    </style>
  </body>
</html>
